.container {
    max-width: 375px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media screen and (min-width: 1256px) {
    .container {
        max-width: 1256px;
        width: 1256px;
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }
}